.place__paragraph {
  margin: 0 0 25px 0;
}

@media screen and (max-width: 746px) {
  .place__paragraph {
    max-width: 450px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    max-width: 340px;
  }
}

@media screen and (max-width: 643px) {
  .place__paragraph {
    max-width: 579px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph:last-child {
    margin: 0;
  }
}
