.cover__overlay {
  background-image: url("../../../images/__background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1184px;
  min-height: 740px;
  transition: opacity 0.3s linear;
  z-index: 1;
}
/* Adicionar sombreamento usando a declaração do pseudo-elemento */
.cover__overlay::before {
  content: "";
  background-color: #2a2c2f;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.3;
  transition: 0.3s;
  z-index: 0;
}
/* Ativando sombreamento ao passar o cursor em cima */
.cover__overlay:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    max-width: 320px;
    min-height: 254px;
  }
}
