.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 460px auto;
  grid-template-areas:
    "title link"
    "image text"
    "button text";
  gap: 48px 40px;
  padding: 0 0 80px 0;
}

@media screen and (max-width: 946px) {
  .place {
    grid-template-rows: auto 420px auto;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-rows: auto 340px auto;
    gap: 28px 20px;
    padding: 0 0 72px 0;
  }
  /* Não colocar espaçamento no último elemento */
  .place:last-child {
    padding: 0;
  }
}

@media screen and (max-width: 710px) {
  .place {
    grid-template-rows: auto 285px auto;
  }
}

@media screen and (max-width: 643px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    /* Empilhar os elementos */
    grid-template-areas:
      "title"
      "link"
      "image"
      "text"
      "button";
    max-width: 579px;
    margin: auto;
  }

  .place:last-child {
    padding-bottom: 64px;
  }
}

@media screen and (max-width: 515px) {
  .place {
    max-width: 500px;
  }
}

@media screen and (max-width: 425px) {
  .place {
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 30px;
    padding: 0 0 48px 0;
  }
}
